/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
	
/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

@font-face {
	font-family: "Source Sans";
	src: url("../fonts/SourceSansPro-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Source Sans";
	font-weight: bold;
	src: url("../fonts/SourceSansPro-Semibold.otf") format("opentype");
}
@font-face {
	font-family: "Source Sans";
	font-style:italic;
	src: url("../fonts/SourceSansPro-It.otf") format("opentype");
}
@font-face{
	font-family: "Whitney";
	src: url("../fonts/WhitneyHTF-Book.otf") format("opentype");
}
@font-face {
	font-family: "Whitney SC";
	src: url("../fonts/WhitneyHTF-BookSC.otf") format("opentype");
}
@font-face {
	font-family: "Whitney SC";
	font-weight: bold;
	src: url("../fonts/WhitneyHTF-MediumSC.otf") format("opentype");
}

/* #Mobile & Non-mobile elements
================================================== */
	.nonmobile{display:block;}
	.mobile{display:none;}

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

	/* Selection Colours*/
	::selection {
		background: #fff7b6;}
	::-moz-selection {
		background: #fff7b6;}

/* #Basic Styles
================================================== */
	body {
		background: #fbfbfb;
		font: 18px/22px "Source Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #555;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
		line-height: 160%;
	}

/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #a23f3f;
		font-family: "Source Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold; 
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit;}
	h1 { font-size: 36px; line-height: 46px; margin-bottom: 10px; }
	h2 { font-size: 28px; line-height: 32px; margin-bottom: 10px; }
	h3 { font-size: 24px; line-height: 24px; margin-bottom: 5px; }
	h4 { font-size: 23px; line-height: 21px; }
	h5 { font-size: 21px; line-height: 20px; }
	h6 { font-size: 19px; line-height: 19px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #666; }
	b {font-weight:bold; }
	uline {border-bottom:1px solid rgba(0,0,0,0.35)}
	small { font-size: 80%; }

/*	CV Formatting  */
	cv {font-size:125%; line-height: 25px; 		
		font-family: "Whitney SC";
		font-weight:bold;
		text-transform: lowercase;}
	sc {
		font-family: "Whitney SC";
		font-size:120%;
		color:#555;
		font-weight:normal;
		text-transform: lowercase;
	}
	.cvdate {line-height:28px; color:#999;}
	.updated {margin-left:15px;}
	#cvbutton {margin-top:5px; margin-left:10px;}
	#cvlist {margin-top:5px; margin-bottom:0px; }
	#cvlist p{margin-bottom:15px; padding-right:15px;}

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 19px; line-height: 28px; color: #999; font-style:italic;}
	blockquote { margin-left: 10px; margin-top:15px; padding: 0px 20px 0 19px; border-left: 1px solid #e0cfcf; }
	blockquote cite { display: block; font-size: 12px; color: #666; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #666; }
	hr { border: solid #d5d5d5; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }
	hr.cv {margin-bottom:10px; margin-left:15px; width:90%}
	
/*	Source Code */
	code {font-family: "Menlo", "Consolas", monospace; font-size:17px;}

/* #Links, with fade ins and fade outs.
================================================== */
	a, a:visited {color: #915454; text-decoration:none; outline: 0;
		-moz-transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border-bottom:1px solid #D9CACA;
	}
	a:hover, a:focus { 
		color: #611212;
		border-bottom:1px solid #B1A4A4;
	}
	p a, p a:visited { line-height: inherit; }
	
/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ol li {color:#888;}
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; color:#AAA;}
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { margin-left:10px; line-height: 28px; margin-bottom: 12px; }
	ul.large li { line-height: 28px; }
	li p { line-height: 28px; font-weight:normal; color:#CCC;}

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }

/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	}
	
	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222;
		background: #ddd; /* Old browsers */
		background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
		background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
		background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
		background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
		background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
		background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	.button:visited,
	button:visited,
	input[type="submit"]:visited,
	input[type="reset"]:visited,
	input[type="button"]:visited {color: #444;}
	
	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,e
	input[type="button"]:active {
		border: 1px solid #666;
		background: #ccc; /* Old browsers */
		background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
		background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
		background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
		background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
		background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
		background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
	    border: 0;
	    padding: 0;
	}

/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	#personalpic img{
		width:85%;
		box-shadow: 4px 4px 0px #DDD;
	    -webkit-box-shadow: 4px 4px 0px #DDD;
	    border-bottom: thin solid #AAA;
	    border-right: thin solid #AAA;
	}

/* #Header
================================================== */
	.header {margin-bottom:80px}
	.overlay {display:none;}

/* #Sidebar
================================================== */

	.bsplines{
		position:fixed;
		margin-top:80px;
		margin-left:6px;
	}
	.bsplineslogo{
		position:fixed;
		margin-top:-20px;
		margin-left:-25px;
	}
	nav {
		position: fixed; 
		width: 160px; 
		margin-left:60px;
		z-index:999;
		margin-top:-10px;
	}
	#sidebarlogo{
		position:relative; 
		text-align:center;
		margin-left:-65px;

		transform: scale(1, 1);
		-ms-transform: scale(1, 1); 
		-webkit-transform: scale(1, 1);
		-webkit-transition: -webkit-transform .3s;
		-moz-transition: .3s;
	}
	#sidebarlogo:hover{
		transform: scale(1.05, 1.05);
		-ms-transform: scale(1.05, 1.05); 
		-webkit-transform: scale(1.05, 1.05);
		-webkit-transition: -webkit-transform .3s;
		-moz-transition: .3s;
	}
	#sidebarlogo img{
		width:100px;
		margin-left:-5px;
		margin-bottom:-50px;
	}

	.sidebar li {
		margin-top:-3px;
		margin-left:0px;
		margin-bottom:12px;
		line-height:22px;
		font-size:19px;
	}
	.sidebar a {
		/* text-transform:lowercase; */
		color: #555;
		font-weight:bold;
		border:none;
		transition: padding-left 300ms ease-out;
		-webkit-transition: padding-left 300ms ease-out;
		-moz-transition: padding-left 300ms ease-out;}
	.sidebar a:hover {padding-left: 4px; color:#a23f3f;}
	.sidebarbackground {
		border-left: 8px solid #A23F3F;
		border-right: 1px solid #FAFAFA;
		margin-top:-80px; /*Negative of header margin bottom*/
		position:fixed;
		background-color:#F6F5F7;
		height:100%;
		width:225px;
		box-shadow: 0px 0px 3px #888;
	    -moz-box-shadow: 0px 0px 3px #888;
	    -webkit-box-shadow: 0px 0px 3px #888;
	}
	.navtitle h4{margin-bottom:18px;}
	.navtitle a {color:#a23f3f;}
	.name{display:none;}
	.sidelinks h6{
		margin-top:30px;
		margin-bottom:20px;
		color:#a23f3f;}
	
	.navheader {
		text-align:right;
		padding-right:10px;
	}
	.navheader a {
		font-size:35px;
		color:#f5f5f5;
		background-color:#ab4040;
		padding: 0px 14px 0px 14px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border-top: thin solid #df9595;
		border-bottom: thin solid #6c2929;
	}
	.navheader a:hover{
		border-top: thin solid #612424;
		background-color:#8c3737;
		border-bottom: thin solid #d99292;
	}
	
	.slide-trigger {
	  display: none;
	  cursor: pointer;}

/* #Footer
================================================== */

	#footer {
		font-size:smaller;
		color:#888;}
	#footer ul {padding-top:.75em;}
	#email {background: url(../images/mail.png) no-repeat 0 center; padding-left: 25px; margin-left:0px;}
	#fb {background: url(../images/fb.png) no-repeat 0 center; padding-left: 25px; margin-left:0px;}

/* #Image Grid and Photogrid Formatting
================================================== */

	#chibigrid img{margin-right: -15px; margin-bottom: -12px}
	.fancybox{display:none;} /*Hide grid until jquery fade in*/
	
	.inspiration{
		width:180px;
		display:inline-block;
		margin-right:12px;
		margin-bottom:20px;
		transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		border-radius:4px;
		border: 1px solid rgba(0,0,0,0.2);
		background-color:#FDFDFD;
	    box-shadow: 0px 0px 3px #CCC;
	    -moz-box-shadow: 0px 0px 3px #CCC;
	    -webkit-box-shadow: 0px 0px 3px #CCC;
	}
	.inspiration:hover{
		transform: scale(1.04);
		-webkit-transform: scale(1.04);
		-moz-transform: scale(1.04);
		-o-transform: scale(1.04);
	}
	.deviations_title {	padding-left:20px; padding-right:20px; padding-top:30px; border-top:1px solid #BBB; border-radius:3px;}
	.deviations_title h1{
		color:#EEE;
		text-shadow: 0 1px 3px rgba(0,0,0,.6);
	}
	.deviations_title a{color:#AAA;}
	.deviations_title a:hover {color:white;}
	.deviations_gallery {padding-right:15px; padding-left:15px;}
	.deviations .caption {
		color:#EEE; 
		text-shadow: 0 1px 3px rgba(0,0,0,.5);
	}
	.deviations {
		text-align:center;
		background-color:#555;
		border:1px solid #444;
		border-radius:3px;
	}
	.deviation{
		display:inline-block;
		margin-right:12px;
		margin-bottom:12px;
		transition: all 0.15s linear;
		-moz-transition: all 0.15s linear;
		-webkit-transition: all 0.15s linear;
		-o-transition: all 0.15s linear;
	}
	.deviation:hover{
		transform: scale(1.03);
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-o-transform: scale(1.03);
	}
	.deviation_container{
		margin: 0 auto;
		display:block;
		background: #fff;
		border: 1px solid rgba(0,0,0,0.7);
	}
	.media_container {
		display:block;
		position: relative;
		background: #fff;
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	.caption {
		margin-top:2px;
		padding-top:2px;
		padding-bottom:3px;
		text-align:center;
		font-size:15px;
		color:#858585;
	}
	.media_container a{
		/*Same as inspiration width*/
		height:180px;

		display:block;
		background-size: cover;
		background-position: 50% 50%;

	    -webkit-border-radius: 4px 4px 0px 0px;
	    -moz-border-radius: 4px 4px 0px 0px;
	    border-radius:4px 4px 0px 0px; 

	    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 1px 3px rgba(0,0,0,0.6);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 1px 3px rgba(0,0,0,0.6);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 1px 3px rgba(0,0,0,0.6);
	}
	.deviation_container a{
		display:block;
		background-size: cover;
		background-position: 50% 50%;

	    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 1px 3px rgba(0,0,0,0.6);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 1px 3px rgba(0,0,0,0.6);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 1px 3px rgba(0,0,0,0.6);
	}
	
	#artwork img{
		margin-bottom:-10px;
		border-top:thin solid #DDD;
		border-bottom:thin solid #777;
		width:157px;
	    box-shadow: 0px 0px 4px #777;
	    -moz-box-shadow: 0px 0px 4px #777;
	    -webkit-box-shadow: 0px 0px 4px #777;
	}
	#artwork{
		margin-right:6px;
		margin-bottom:10px;
		display:inline-block;
		border: 1px solid rgba(0,0,0,0.2);
		transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;}	
	#artwork:hover{
		transform: scale(1.04);
		-webkit-transform: scale(1.04);
		-moz-transform: scale(1.04);
		-o-transform: scale(1.04);
		}
	#photogrid {margin-bottom:0px;}
	.software{background:white; padding-top:20px; padding-bottom:20px; padding-left:0px; 	   
		 -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 1px 3px rgba(0,0,0,0.4);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 1px 3px rgba(0,0,0,0.4);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 1px 3px rgba(0,0,0,0.4);
	}

	/*	Display the 1440 Grid (This is necessary b/c we need absolute pixel sizes for rendering)*/
	.width-1440{display:block;}
	.width-1200{display:none;}
	.width-960{display:none;}

/* #Media specific modifications
================================================== */

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
	#personalpic img{width:100%;}
	#artwork img{width:162px;}
	.inspiration{width:156px;}
	.media_container a{height:156px;}

	.width-1440{display:none;}
	.width-1200{display:block;}
	.width-960{display:none;}
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
	#personalpic img{width:105%; margin-left:10px;}
	#artwork img{width:164px;}
	.inspiration{width:158px;}
	.media_container a{height:158px;}
	nav {margin-left:45px}
	.sidebarbackground{width:195px;}

	.width-1440{display:none;}
	.width-1200{display:none;}
	.width-960{display:block;}
}

/* iPad portrait browsing*/
@media only screen and (min-width:768px) and (max-width: 959px) {
	.nonmobile{display:none;}
	.mobile{display:block;}
	.header{margin-bottom:50px;}
	.sidebarbackground{	margin-top:-50px;}
	nav{margin-top:20px;}
		
	#personalpic img{display:none;}
	#artwork img{width:127px;}
	.inspiration{width:122px; }
	.media_container a{height:122px;}
	.caption {font-size:15px;}

	#abouttext {width:508px; margin-left:30px;}
	nav {margin-left:30px}
	.sidebarbackground{width:160px;}
	
	/*Shrinks Sidebar Text*/
	.navtitle h4{font-size:21px;}
	.sidebar li {font-size:17px;}
	.sidebar li {margin-top:-5px;}
	
	/* Hides the splines */
	.bsplines{display:none;}

	/* Adjusts the logo placement */
	.bsplineslogo{margin-left:-15px;}
	#sidebarlogo{margin-left:-45px;}

	.width-768{display:block;}
	.width-480{display:none;}
	.width-320{display:none;}
	#photogrid {margin-bottom:-2px;}
}

/* Mobile */
@media only screen and (max-width: 767px) {
	.nonmobile{display:none;}
	.mobile{display:block;}

	nav { position: relative; margin-top:-137px; margin-left:0px; margin-bottom:-50px; width:auto;}
	h1, h2, h3, h4, h5, h6 {text-align:center;}
	.name h1 { font-size: 44px; line-height: 50px; margin-bottom: 20px;}
	h1 { font-size: 30px; line-height: 40px; margin-bottom: 10px; }
	h2 { font-size: 26px; line-height: 38px; margin-bottom: 5px; }
	h3 { font-size: 22px; line-height: 26px; margin-bottom: 3px; }
	h4 { font-size: 20px; line-height: 24px; margin-bottom: 2px; }
	h5 { font-size: 18px; line-height: 21px; }
	p {font-size: 16px;}
	
	/*Centres the date on blog posts*/
	.date {padding:0; text-align:center;}
	/* Hides the splines */
	.bsplines{display:none;}
	.bsplineslogo{display:none;}
	
	/* Hides the sidebar background*/
	.sidebarbackground{display:none;}
	#sidebarlogo{display:none;}
	
	/* Adjusts CV formatting */
	.cvdate {color:#AAA;}
	.updated {margin-left:0px;}
	#datemodified {text-align:center;}
	#cvbutton {display:none;}
	hr.cv {width:100%; margin-left:0px;}
	
	/* Collapses the menu into a dropdown */
	.navheader {margin-top:89px; margin-bottom:80px;}
	.slide-trigger { display: block;}
	.no-js .slide-trigger { display: none; }
	.navigation { display: none; }
	.no-js .navigation { display: block; }
	.navigation { 
		background-color:#f1f1f1;
		margin-bottom:70px; 
		padding-bottom:5px;
		padding-top:20px;
		margin-top:-68px;
		border-bottom:1px solid #CCCCCC}
	.navigation li { 
		float: none; 
		text-align:center;}
	
	/* Hides the personal pic */
	#personalpic img {display:none;}
	
	/* Hides the side links */
	.sidelinks {display:none;}
	
	/* Makes the header sexier at small sizes */
	.navtitle{display:none;}
	.overlay{
		padding-top:8px;
		padding-bottom:0px;
		display:block;
		background-color:#9c3d3d;
		height:50px;
		border-top:thin solid #d99292;
		border-bottom: thin solid #602121;
		box-shadow: 0 3px 2px -2px #AAAAAA;
	}
	.name {margin-bottom:-130px; display:block;}
	.name h1{
		font-size:44px;
		text-align:center;
		font-weight:normal;
		padding-top:3px;
	}
	.name a{
		color:white;}
	.sidebar a:hover {padding-left: 0px;}
	.sidebar a{font-size:20px;}
	#photogrid {margin-bottom:-2px;}
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#artwork img{width:136px;}
	.inspiration{width:130px;}
	.media_container a{height:130px;}

	.width-768{display:none;}
	.width-480{display:block;}
	.width-320{display:none;}
}

/* Mobile Portrait */
@media only screen and (max-width: 480px) {
	#artwork img{width:130px;}
	.inspiration{width:120px;}
	.media_container a{height:120px;}

	.width-768{display:none;}
	.width-480{display:none;}
	.width-320{display:block;}
}



